{% extends "layout.html" %} 

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-end">
            {% if current_user.images == [] %}
            <img src="https://i.scdn.co/image/ab6761610000f17837a311796813fd5d38b88f47" class="blank-artist">
            {% else %}
            <img class="correct-pfp" src="{{ current_user.images[0]['url'] }}" >
            {% endif %}
        </div>
        <div class="col text-start">
            <span class="d-block"> Country: {{ current_user.country }}</span> 
            <span class="d-block"> Currently logged in as: {{ current_user.display_name }}</span>
            <span class="d-block"> Email: {{ current_user.email }}</span>
            <span class="d-block"> Subscription Type: {{ current_user.product }}</span>
            <span class="d-block"> Followers: {{ current_user.followers['total'] }}</span>
        </div>
    </div>
    <div class="row profile-btborder">
        <div class="col"><button class="profile-button" type="submit" onclick="Following()">Following</button></div>
        <div class="col"><button class="profile-button" type="submit" onclick="Recently_Played()">Recently Played</button></div>
        <div class="col"><button class="profile-button" type="submit" onclick="library()">Your Library</button></div>
    </div>
    <div id="display">
        <div class="row">
            {% for items in following['artists']['items'] %}
                <div class='col-2' style='margin-bottom: 1em;'>
                    <a class='artists' href='{{ items["external_urls"]["spotify"] }}'>
                    {% if items.images == [] %}
                        <img src='https://i.scdn.co/image/ab6761610000f17837a311796813fd5d38b88f47' class='blank-artist'>
                    {% elif items.images[2]['width'] > 160 or items.images[2]['width'] < 160 %}
                        <img src='{{ items.images[1]["url"] }}' class='correct-pfp'>
                    {% else %}
                        <img src='{{ items.images[2]["url"] }}'>
                    {% endif %}
                        <span class='caption artist_name'>{{ items.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function Following(){
        let button = document.getElementById("display");
        let data = "<div class='row'>{% for items in following['artists']['items'] %}<div class='col-2' style='margin-bottom: 1em;'><a class='artists' href='{{ items['external_urls']['spotify'] }}'>{% if items.images == [] %}<img src='https://i.scdn.co/image/ab6761610000f17837a311796813fd5d38b88f47' class='blank-artist'>{% elif items.images[2]['width'] > 160 or items.images[2]['width'] < 160 %}<img src='{{ items.images[1]['url'] }}' class='correct-pfp'>{% else %}<img src='{{ items.images[2]['url'] }}'>{% endif %}<span class='caption artist_name'>{{ items.name }}</span></a></div>{% endfor %}</div>";
        button.innerHTML = data;
    }
    function Recently_Played() {
        let button = document.getElementById("display");
    
        let data = "{% for items in recently_played['items'] %}<div class='row'><div class='col-1 search-col-1 text-start'><a href='{{ items.track['album']['external_urls']['spotify'] }}''><img src='{{ items.track['album']['images'][2]['url'] }}''></a></div><div class='col text-start'><div class='cover_name'>{{ items.track['name'] }}</div><span class='caption artist_name'>{% for artists in items.track['artists'][0:] %}<a href='{{ artists['external_urls']['spotify'] }}'>{{ artists['name'] }}{{',' if not loop.last}}</a>{% endfor %}</span></div><div class='col text-start artist_name'><a href='{{ items.track['album']['external_urls']['spotify'] }}'>{{ items.track['album']['name']}}</a></div><div class='col'>Played at: {{items.played_at[12:19]}} UTC, {{items.played_at[:10]}} </div></div>{% endfor %}";
        button.innerHTML = data;
    }
    function library(){
        let button = document.getElementById("display");
        let data = "<div class='row'>{% for items in liked_songs['items'] %}<div class='col-sm-2' style='margin-bottom: 1.2rem;'><a class='artists' href='{{ items.album['external_urls']['spotify'] }}'><img src='{{items.album['images'][1]['url']}}' style='height: 230px;'><span class='cover_name caption'>{{ items.name }}</span></a><span class='caption artist_name'>{% for artists in items.album['artists'][0:] %}<a href='{{ artists['external_urls']['spotify'] }}'>{{ artists['name'] }}{{',' if not loop.last}}</a>{% endfor %}</span><span class='caption'>{{ items['release_date'] }}</span></div>{% endfor %}</div>";
        button.innerHTML = data;
    }
</script>


{% endblock %}